body {
    background-color: green;
}

h1 {
    color: orange;
}

form {
    margin: 50px auto;
    width: 50%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #888;
    margin-bottom: 10px;
    width: 100%;
}

button[type="submit"] {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ffad5a;
}